<header>
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
      <mat-icon *ngIf="sidenav.opened">close</mat-icon>
    </button>
    <span class="app-name">Angular 6 Breadcrumb</span>
    <span class="fill-remaining-space"></span>
    <mat-icon>account_circle</mat-icon>
  </mat-toolbar>
  <mat-toolbar color="primary">
    <app-breadcrumbs></app-breadcrumbs>
  </mat-toolbar>
</header>
<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a mat-list-item routerLink="/home" (click)="sidenav.close()">
        <mat-icon mat-list-icon>home</mat-icon>
        <p mat-line>Home</p>
      </a>
      <a mat-list-item routerLink="/menu" (click)="sidenav.close()">
        <mat-icon mat-list-icon>today</mat-icon>
        <p mat-line>Menu</p>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
