header {
  flex: 0 1 auto;

  mat-toolbar {
    span.app-name {
      margin-left: 16px;
    }
    span.fill-remaining-space {
      flex: 1 1 auto;
    }
    mat-icon {
      width: 28px;
      height: 28px;
      font-size: 28px;
    }
  }
}

mat-sidenav-container {
  flex: 1 1 auto;

  mat-sidenav {
    width: 300px;
    padding: 20px;
  }
}
