header {
  mat-toolbar {
    img {
      height: 100%;
    }
    span.fill-remaining-space {
      flex: 1 1 auto;
    }
    mat-icon {
      width: 36px;
      height: 36px;
      font-size: 36px;
    }
  }
}
