<header>
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
      <mat-icon *ngIf="sidenav.opened">close</mat-icon>
    </button>
    <span class="app-name">Angular 6 Breadcrumb</span>
    <span class="fill-remaining-space"></span>
    <mat-icon>account_circle</mat-icon>
  </mat-toolbar>
  <mat-toolbar color="primary">
    <app-breadcrumbs></app-breadcrumbs>
  </mat-toolbar>
</header>
<mat-sidenav-container>
  <mat-sidenav #sidenav>
    Sidenav content goes here!
  </mat-sidenav>
  <mat-sidenav-content>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
