header {
  mat-toolbar {
    img {
      height: 70%;
      margin-right: 12px;
    }
    span.fill-remaining-space {
      flex: 1 1 auto;
    }
    mat-icon {
      width: 28px;
      height: 28px;
      font-size: 28px;
    }
  }
}
